body{
    background-color:#14315e;
    color: #eeeeee;
}

h1, .comparte{
    font-size: 2rem;
    text-shadow: 0.2rem 0.2rem 0.1rem  #0b42ac, 0.4rem 0.4rem 0.1rem  #14315e;
    color:  #e6ebed;
    border: 0.2rem solid  #e6ebed;
    padding: 0.7rem;
    border-radius: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-weight: 600;
}

.sp{
    color: red;
}

#navegador, .logogrande{
    background-color:#142334 !important;
}

.anav{
    color: #eeeeee !important;
}

.dropdown-item{
    color: #142334 !important;
    font-weight: 700;
}

.imging{
    width: 1.5rem;
    height: 1.5rem;
}

#div-nav{
    display: flex;
    justify-content: flex-end;
    gap: 3rem;
}

h2{
    font-size: 2rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    text-align: center;
}

h3{
    font-size: 3rem;
    background-color: #fff159;
    margin: 9rem auto;
    text-align: center;
    font-weight: 700;
    color: #142334;
}

.respimg{
    gap: 7rem;
    justify-content: center;
    background-color: #eeeeee;
    border-radius: 0.5rem;
    padding: 1rem;
}

.card{
    padding: 1rem;
    text-align: center;
    box-shadow: 0.3rem 0.3rem 1rem #aaaaaa;
    color: #142334;
}

.logogrande{
    display: flex;
    margin-top: 15vh;
}

#contacto{
    margin: 2rem auto;
    font-size: 6rem;
    border: 0.5rem solid  #e6ebed;
    text-shadow: 0.4rem 0.4rem 0.1rem  #0b42ac, 0.8rem 0.8rem 0.1rem  #14315e;
    gap: 2.5rem;
    padding: 1rem;
}

footer{
    margin-top: 10rem;
    height: 10rem;
    background-color: #142334;
    color: beige;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}